<!DOCTYPE html>
<html>
<head>
  <title>Copy User</title>
  <link rel='stylesheet' href='../vendor/bootswatch/darkly/bootstrap.css' />
  <link rel='stylesheet' href='https://bootswatch.com/5/darkly/bootstrap.css' />
</head>
<body>
  <div class="container">   
    <div class="form-style-6">
       <h1>Copy User</h1>
        <form class="border border-light p-5" method="post" action="/form-submit" id="clientform">
          <div class="form-group">
            <label for="useridInput">User ID</label>
            <input type="type" class="form-control" id="useridInput" placeholder="User ID" name="userid">
            <br>
            <label for="usernameInput">User Name</label>
            <input type="type" class="form-control" id="usernameInput" placeholder="User Name" name="username">
            <br>
            <label for="copyInput">Copy from</label>
            <input type="type" class="form-control" id="copyInput" placeholder="User ID" name="copy">
            <br>
            <label for="emailInput">Email</label>
            <input type="type" class="form-control" id="emailInput" placeholder="user@address.com" name="email">
            <br>
            <label>Environments &ensp; </label> 
            <select name="status" form="clientform">
              <option value="both">Copy in both environments</option>
              <option value="dev">Copy in just Dev</option>
              <option value="test">Copy in just Test</option>
            </select>
            <br>
            <br>
          </div>
          <button type="submit" class="btn btn-primary" id="send" onclick="alert('Copying User')">Submit</button>
        </form>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
